/* *{
    box-sizing: content-box;
} */
.body{
    font-family: 'Roboto', sans-serif;
    
}
main{
    padding-left: 200px;
    padding-right: 200px;
}
aside{
    padding-left: 200px;
    padding-right: 200px;
}
.titolo{
    font-size: 60px;
}
.header{
    background-color: rgb(0, 132, 255);
    background-image: url(img/pattern.png);
    background-repeat: repeat;

}
.logo{
    height:100px;
    padding-top: 100px;
    padding-left: 200px;
}
.list{
   padding: 20px;
}
th{
    width: 15%;
}
thead{
    background-color:rgb(0, 132, 255);
}
.tdsky{
    background-color: aqua;
}
.footer{
    background-image: url(img/monitor.jpg);
}
.grigio{
    color: gray;
}
.azzurro{
    color:rgb(0, 132, 255) ;
}
.firstpg{
    background-image: url(img/monitor.jpg);
    width: 230px;
    height: 200px;
}
.secondpg{
    background-image: url(img/graph.jpg);
    width: 230px;
    height: 200px;
}
.bianco{
    color: white;
}
